/* FLEX: ACTIVATE */
.flex {
  display: flex;
}

/* FLEX CENTERING */
.fl-vc {
  align-items: center;
}

.fl-hc {
  justify-content: center;
}

.fl-fc {
  justify-content: center;
  align-items: center;
}

/* DIRECTION */
.fl-dv {
  flex-direction: column;
}

.fl-dh {
  flex-direction: row;
}
